::-moz-selection {
    color: #1B1B1B;
    background: #F3F3F3;
}
::selection {
    color: #1B1B1B;
    background: #F3F3F3;
}

* {
    font: 22px Courier New, Courier, sans-serif;
}
html {
  height: 99%;
  overflow-y: hidden;
}
body {
    background-color: #111111;
    display: table;
    min-height: 99%;
    width: 99%;
    height: 99%;
    overflow-y: hidden;
}

#content {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

#title {
    color: #EFEFEF;
    font-size: 50px;
}

#output {
    height: 40px; //70%;
    width: 500px;
    background-color: #111111; //222222;
    margin: 0 auto;
    margin-top: 12px;
    border: 20px hidden #222222; //solid
    font-size: 20px;
    color: #EEEEEE;
    overflow-y: auto;
    text-align: left;
    border-radius: 10px 10px 0 0;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}

#message {
    width: 500px;
    overflow-x: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#inputwrap {
    width: 540px;
    height: 70px;
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: -40px; //0;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    background-color: none;
}

#input {
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px; //0 0 0 10px;
    width: 80%;
    height: 97%;
    display: inline-block;
    position: absolute;
    padding-left: 35px;
    border: none;
    outline: none;
    font-size: 25px;
    background-color: #2D2D2D;
    color: #DDDDDD;
    transition: border-radius 0.3s;
    -webkit-transition: border-radius 0.3s;
}

#inputwrap button {
    width: 50%;
    height: 100%;
    display: none;
    position: absolute;
    padding: 0;
    color: #DDDDDD;
    background-color: #222222;
    border: 1px solid #222222;
    outline: none;
}
#inputwrap button:hover {
    background-color: #2D2D2D;
}

#inputwrap #submit {
    right: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    border-radius: 0 10px 10px 0; //0 0 10px 0;
    border-width: 0 0 0 2px;
    transition: border-radius 0.3s;
    -webkit-transition: border-radius 0.3s;
}
