@font-face {
	font-family: CenturyGothic;
	src: url('fonts/centurygothic.ttf');
}
@font-face {
	font-family: JosefinSans;
	src: url('fonts/JosefinSans-Regular.ttf');
	font-weight: normal;
}

@keyframes logopulse {
	0% { transform: scale(1.025); }
	50% { transform: scale(1.06); }
	100% { transform: scale(1.025); }
}
@keyframes slowbounce {
	0% { padding-bottom: 0; }
	50% { padding-bottom: 8px; }
	100% { padding-bottom: 0; }
}

::selection {
	background-color: rgba(200, 200, 200, 0.99);
	color: #1A1A1A;
}
::-moz-selection {
	background-color: rgba(200, 200, 200, 0.99);
	color: #1A1A1A;
}
::-webkit-scrollbar {
	/* display: none; */
}

* {
	font: 20px CenturyGothic;
	color: #E5E5E5;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #161616 url('') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.code_container {
	background-color: #1b1d1f;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	text-align: left;
	overflow: scroll;
	border-radius: 20px;
	margin: 0 auto;
	padding: 10px;
}
.code {
    background-color: #1b1d1f;
    color: #ddd;
	font: 16px 'Courier New', Courier;
	margin: 0;
}
.code span {
    font: inherit;
}
.tag {
    color: #a1664f;
}
.var {
    color: #cc6666;
}
.embed_var {
    color: #cc6666;
}
.operator {
    color: #ccc;
}
.keyword {
    color: #b195ba;
}
.method {
    //color: #616fc9;
    color: #8690c4;
}
.string {
    color: #b3af46;
}
.class {
    color: #f0c575;
}
.primitive {
    color: #de9357;
}

.syntax::selection {
	background-color: #9DA4AE;
	color: inherit;
}
