@font-face {
	font-family: CenturyGothic;
	src: url('fonts/centurygothic.ttf');
}
@font-face {
	font-family: JosefinSans;
	src: url('fonts/JosefinSans-Regular.ttf');
	font-weight: normal;
}

@keyframes logopulse {
	0% { transform: scale(1.025); }
	50% { transform: scale(1.06); }
	100% { transform: scale(1.025); }
}
@keyframes slowbounce {
	0% { padding-bottom: 0; }
	50% { padding-bottom: 8px; }
	100% { padding-bottom: 0; }
}

::selection {
	background-color: rgba(200, 200, 200, 0.99);
	color: #1A1A1A;
}
::-moz-selection {
	background-color: rgba(200, 200, 200, 0.99);
	color: #1A1A1A;
}
::-webkit-scrollbar {
	display: none;
}

* {
	/*font: 20px CenturyGothic;*/
	color: #E5E5E5;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #161616 url('') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font: 20px CenturyGothic;
}

#hook input,button {
	font: 20px CenturyGothic;
}

#info {
	color: #DDD;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#info * {
	line-height: 1.3;
	word-wrap: break-word;
}
#info code {
	font-size: 16px;
	color: #CFCFCF;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	background-color: rgba(200, 200, 200, 0.12);
	border-radius: 3px;
	padding: 1px 8px;
	margin: 2px;
	display: inline-block;
	word-wrap: break-word;
	white-space: normal;
	max-width: 80%;
}
#info code.lang-javascript {
	padding: 6px 14px;
}
#info a {
    color: #EEE;
    text-align: center;
	cursor: pointer;
}
#info a:hover {
    color: #BBB;
}
#info p,ol,ul,li {
	font-size: 15.5px;
	color: #CCC;
}
#info h1,h2 {
	border-bottom: 1px solid #EDEDED;
}
#info h1 {
	font-size: 1.8em;
	font-family: JosefinSans;
}
#info h2 {
	font-size: 1.63em;
	font-family: JosefinSans;
}
#info h3 {
	font-size: 1.47em;
	font-family: JosefinSans;
}
#info h4 {
	font-size: 1.3em;
	font-family: JosefinSans;
}

.code_container {
	background-color: #1e1e1f;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	text-align: left;
	overflow: scroll;
	border-radius: 20px;
	margin: 0 auto;
	padding: 10px;
}
.code {
    background-color: #1e1e1f;
    color: #ddd;
	font: 16px 'Courier New', Courier;
	margin: 0;
}
.code span {
    font: inherit;
}
.tag {
    color: #a1664f;
}
.var {
    color: #cc6666;
}
.embed_var {
    color: #cc6666;
}
.operator {
    color: #ccc;
}
.keyword {
    color: #b195ba;
}
.method {
    //color: #616fc9;
    color: #8690c4;
}
.string {
    color: #b3af46;
}
.class {
    color: #f0c575;
}
.primitive {
    color: #de9357;
}

.syntax::selection {
	background-color: #9DA4AE;
	color: inherit;
}
