@font-face {
	font-family: CenturyGothic;
	src: url("./centurygothic.ttf");
}
@font-face {
	font-family: JosefinSans;
	src: url("./JosefinSans-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: JosefinSansBold;
	src: url("./JosefinSans-Bold.ttf");
	font-weight: bold;
}

@keyframes logopulse {
	0% { transform: scale(1.025); }
	50% { transform: scale(1.06); }
	100% { transform: scale(1.025); }
}

::selection {
	background-color: rgba(156, 156, 156, 0.99);
	color: #1A1A1A;
}
::-moz-selection {
	background-color: rgba(156, 156, 156, 0.99);
	color: #1A1A1A;
}
::-webkit-scrollbar {
	display: none;
}

* {
	font: 20px CenturyGothic;
	color: #E5E5E5;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #161616 url('') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#main {
	width: 100%;
	height: 100%;
	padding-right: 15px;
	overflow-y: scroll;
	opacity: 0;
	transition: opacity 0.35s ease-in-out;
	-moz-transition: opacity 0.35s ease-in-out;
	-webkit-transition: opacity 0.35s ease-in-out;
}

#intro .content {
	position: relative;
}
#intro .content .logo {
	transform: scale(1.025);
	animation: logopulse 3.5s ease-in-out infinite;
	margin: 0 auto;
}
#intro .content .title {
	font-size: 150px;
	color: #E5E5E5;
	//line-height: 85px;
}
#intro .content .text {
	font-size: 24px;
	color: #E6E6E6;
}
#intro .content .spacer {
	height: 13%;
}
#intro .content .nav {
	height: 70px;
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	transition: opacity 0.3s ease-in-out;
}
#intro .content .nav .text {
	font: 25px JosefinSansBold;
	color: #DFDFDF;
	display: block;
}
#intro .content .nav .image {
	margin: 10px auto;
	opacity: 0.65;
	transition: opacity 0.3s ease-in-out;
}
#intro .content .nav .image:hover {
	opacity: 0.97;
}

#hook .content {
	padding-top: 3%;
	height: 97%;
	position: relative;
}
#hook .content .panel {
	top: 0;
	bottom: 10%;
	position: absolute;
}
#hook .content .left {
	left: 0;
	right: 68%;
	width: 32%;
}
#hook .content .middle {
	left: 32%;
	right: 32%;
	width: 36%;
}
#hook .content .right {
	left: 68%;
	right: 0;
	width: 32%;
}
#hook .content .panel .inner {
	background-color: #222;
	border-radius: 20px;
	height: 93%;
	width: 85%;
	margin: 0 auto;
}
#hook .content .bottom {
	position: absolute;
	height: 9%;
	bottom: 1%;
	left: 0;
	right: 0;
	width: 100%;
}
#hook .content .bottom .content {
	padding: 0;
}
#hook .content .bottom .text {
	font-size: 27px;
	font: 30px JosefinSans;
	padding-bottom: 5px;
}
#hook .content .bottom .link {
	font: 27px JosefinSans;
}
